<ion-view view-title="地方使用">
  <ion-content>
    <button class="button button-full button-dark" ng-click="book()">Book Room</button>
    <div data-ng-controller="DatepickerCtrl">
      <h4 class="text-center">{{dt | date : format }}
        <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i
          class="icon ion-calendar"></i></button>
      </h4>

    </div>
    <div class="list">
      <a class="item"
         collection-repeat="item in bookingList | orderBy: 'starthour'"
         collection-item-height="70"
         collection-item-width="'100%'">
        <table width="100%">
          <tr>
            <td width="30%">{{item.room}}</td>
            <td>{{item.eventname}}<br>{{item.starthour}} - {{item.endhour}}</td>
          </tr>
        </table>

      </a>
    </div>

  </ion-content>
</ion-view>
