<ion-view view-title="首頁">
  <ion-content>
    <div class="row">
      <div class="col col-center text-center">
        <img ng-src="img/banner_church.jpg" width="60%"/>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#/app/news">
          <img ng-src="img/icon_news.png" width="100%"/>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/home/booking">
          <img ng-src="img/icon_booking.png" width="100%"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50" n>
        <a href="#/app/home/nurture">
          <img ng-src="img/icon_nurture.png" width="100%"/>
        </a>
      </div>
      <div class="col col-50" n>
        <a href="#/app/home/revise">
          <img ng-src="img/icon_revise.png" width="100%"/>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
