<ion-view title="最新消息">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a ng-repeat="cat in catList" href="#/app/news/{{cat.id}}" class="item item-thumbnail-left">
        <!--<img ng-src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}" onerror="this.src = 'https://www.ginesisnatural.com/images/no_image.jpg';">-->
        <h1>{{cat.title}}</h1>
      </a>
    </div>
  </ion-content>
</ion-view>
