<ion-view title="{{cat.title}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a class="item my-item"
         href="#/app/news/{{catId}}/{{item.id}}"
         collection-repeat="item in newslists | orderBy: published_date"
         collection-item-height="80"
         collection-item-width="100%">
        <p style="font-size: large; white-space: normal;">{{item.title}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
