<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="News" icon="ion-chatbubbles" href="#/tab/news">
    <ion-nav-view name="news-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="ion-person" href="#/tab/profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="ion-help" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
