/* Empty. Add your own CSS if you like */
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}

.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.book-datepicker .form-control {
  /*font-size: 18px;*/
  visibility: hidden;
}

.book-datepicker{
  position: relative;
}

.uib-datepicker .uib-title {
  float: left;
}

.uib-datepicker .btn-sm {
  font-size: 14px;
  padding: 7px 14px;
}
